aenum==2.2.6
aniso8601==9.0.1
appdirs==1.4.4
apprise==1.8.0
arrow==1.3.0
attrs==23.2.0
Babel==2.15.0
beautifulsoup4==4.12.3
blinker==1.8.2
Brotli==1.1.0
certifi==2024.7.4
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
cryptography==42.0.8
decorator==5.1.1
dnspython==2.6.1
elementpath==4.1.5
et-xmlfile==1.1.0
eventlet==0.36.1
extruct==0.17.0
feedgen==0.9.0
Flask==2.3.3
Flask-Compress==1.15
Flask-Cors==4.0.1
flask-expects-json==1.7.0
Flask-JWT-Extended==4.6.0
Flask-Login==0.6.3
flask-paginate==2024.4.12
Flask-RESTful==0.3.10
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
greenlet==3.0.3
h11==0.14.0
html5lib==1.1
html_text==0.6.2
idna==3.7
iniconfig==2.0.0
inscriptis==2.5.0
isodate==0.6.1
itsdangerous==2.2.0
Jinja2==3.1.4
jinja2-time==0.2.0
jq==1.7.0
jsonpath-ng==1.5.3
jsonschema==4.17.3
jstyleson==0.0.2
loguru==0.7.2
lxml==5.2.2
lxml_html_clean==0.1.1
Markdown==3.6
MarkupSafe==2.1.5
mf2py==2.0.1
mypy-extensions==1.0.0
oauthlib==3.2.2
openpyxl==3.1.5
ordered-set==4.1.0
outcome==1.3.0.post0
packaging==24.1
paho-mqtt==1.6.1
pillow==10.4.0
pluggy==1.5.0
ply==3.11
pycparser==2.22
pyee==11.1.0
PyJWT==2.8.0
pyparsing==3.1.2
pyppeteer-ng==2.0.0rc5
pyppeteerstealth==0.0.4
pyRdfa3==3.6.2
pyrsistent==0.20.0
PySocks==1.7.1
pytest==7.4.4
pytest-flask==1.3.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
PyYAML==6.0.1
rdflib==7.0.0
requests==2.32.3
requests-oauthlib==2.0.0
selenium==4.14.0
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.5
SQLAlchemy==2.0.31
timeago==1.0.16
tqdm==4.66.4
trio==0.26.0
trio-websocket==0.11.1
types-python-dateutil==2.9.0.20240316
typing-inspect==0.5.0
typing_extensions>=3.7.4,<4.0.0
urllib3==1.26.19
validators==0.33.0
w3lib==2.2.1
webencodings==0.5.1
websockets==10.4
Werkzeug==3.0.3
wsproto==1.2.0
WTForms==3.1.2
zstandard==0.23.0
